{% liquid
  assign image = block.settings.image
  assign product = block.settings.product

  assign featured_media = product.featured_media
  assign featured_media_type = featured_media.media_type
  if featured_media_type == 'model' or featured_media_type == 'video'
    assign featured_media = product.featured_media.preview_image
  endif

  assign image_wrap_tag = 'div'
  if product != blank
    assign image_wrap_tag = 'a'
  endif

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if block.settings.image_preload
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign button_label = 'content.shop' | t
  assign product_overlay_tag = 'div'
  if settings.animations_enabled
    assign product_overlay_tag = 'motion-component'
  endif
%}

<div class="testimonial-split flex items-start flex-nowrap flex-col md:flex-row">
  <!-- @testimonialInner/split -->
  <div class="testimonial-split__media relative overflow-hidden h-full">
    {% render 'responsive-image',
      mode: 'js',
      image: image,
      image_mobile: block.settings.image_mobile,
      image_ratio: 'adapt',
      loading: loading,
      fetchpriority: fetchpriority,
      class: 'testimonial-split__media-image',
      img_class: 'w-full'
    %}
    <div class="testimonial-split__product absolute inset-0 flex items-end justify-center">
      <{{ product_overlay_tag }}
        class="product-overlay-card__content static flex items-center gap-3 w-full color-{{ block.settings.media_color_scheme }}"
        {% if settings.animations_enabled %}
          data-motion="fade-in"
        {% endif %}
      >
        <div class="product-overlay-card__image-wrap shrink-0">
          <{{ image_wrap_tag }}
            class="product-overlay-card__image block media-mask-clip"
            {% if product != blank %}
              href="{% render 'product-card-variant-url', product: product %}"
              aria-label="{{ product.title | escape }}"
              tabindex="-1"
            {% endif %}
          >
            {% render 'responsive-image',
              mode: 'liquid',
              image: featured_media,
              image_ratio: '1/1',
              media_width_desktop: '80px',
              media_width_mobile: '50px',
              loading: loading,
              fetchpriority: fetchpriority,
              svg_placeholder: 'product-1',
              use_hover: false,
              img_class: 'w-full'
            %}
          </{{ image_wrap_tag }}>
        </div>
        <div class="product-overlay-card__info flex-grow flex flex-col gap-1">
          {%- if product == blank -%}
            <p class="product-overlay-card__title">
              {{ 'placeholders.product_title' | t }}
            </p>
          {%- else -%}
            <a
              class="product-overlay-card__title reversed-link text-limit-1-line"
              href="{% render 'product-card-variant-url', product: product %}"
              aria-label="{{ product.title | escape }}"
              tabindex="-1"
            >
              <span class="reversed-link__text">{{ product.title }}</span>
            </a>
          {%- endif -%}
          {% render 'price', ref: false, show_unit_price: true, product_resource: product %}
        </div>
        <div class="product-overlay-card__action shrink-0">
          {% render 'button', style: 'primary', label: button_label, link: product.url, block: blank %}
        </div>
      </{{ product_overlay_tag }}>
    </div>
  </div>
  <!-- @testimonialInner/split -->
  <div
    class="testimonial-split__content reset-text-alignment flex flex-col flex-1 h-full"
    data-color-scheme="{{ block.settings.color_scheme }}"
    {{ block.shopify_attributes }}
  >
    {% content_for 'block', type: '_simple-text', id: 'static-testimonial-text', classes: 'testimonial-split__text flex-1' %}
    {% content_for 'block', type: '_author-info', id: 'static-testimonial-info', classes: 'flex gap-x-3 items-center' %}
  </div>
  <!-- @testimonialInner/split -->
</div>
<!-- @testimonialFeature/split -->

{% schema %}
{
  "name": "t:names.testimonial",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:settings.image_mobile"
    },
    {
      "type": "header",
      "content": "t:content.product"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "media_color_scheme",
      "label": "Media color scheme",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:names.testimonial",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
